<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Mangeltech</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a ng-if="vm.isAdmin()" href="#/usuarios">Usuarios
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li>
                    <a href="#/categorias">Categorias
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
            <form name="loginForm" ng-hide="vm.isAuthenticated()" role="form" ng-submit="vm.signIn()" novalidate class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" required ng-model="vm.user.email"/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required ng-model="vm.user.password"/>
                </div>
                <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-primary">Ingresar</button>
                <a ui-sref="usuarioscreate" class="btn btn-primary">Registrarse</a>
            </form>
            <ul class="nav navbar-nav navbar-right" ng-show="vm.isAuthenticated()">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{vm.getCurrentUser()}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                          <a href="#/usuarios/view/{{vm.getIdUser()}}">Ver Perfil</a>
                      </li>
                        <li>
                            <a ng-click="vm.logout()">Cerrar Sesión</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
