<div class="container">
<div class="page-header">
    <form class="form-inline">
        <div>
            <a href="#/categorias/create" class="btn btn-primary">CREAR CATEGORIA</a>
        </div>
        <br>
        <div class="form-group">
            <label>Buscar</label>
            <input type="text" ng-model="vm.busqueda" class="form-control" placeholder="Buscar">
        </div>
    </form>
</div>

<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <span>Categorias</span>
    </div>
</md-toolbar>

<!-- exact table from live demo -->
<md-table-container>
    <table md-table md-row-select multiple ng-model="vm.selected" md-progress="vm.promise">
        <thead md-head md-order="vm.query.order" md-on-reorder="vm.getCategorias">
            <tr md-row>
                <th md-column md-order-by="nameToLower"><span>Id</span></th>
                <th md-column md-numeric md-order-by="vm.categorias.nombre"><span>Categorias</span></th>
                <th></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row md-select="vm.categoria" md-select-id="nombre" md-auto-select ng-repeat="categoria in vm.categorias | limitTo: vm.query.limit: (vm.query.page - 1) * vm.query.limit">
                <td md-cell>{{categoria.idCategoria}}</td>
                <td md-cell>{{categoria.nombre}}</td>
                <td md-cell><a href="#/categorias/update/{{categoria.idCategoria}}">Editar</a></td>
            </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 20, 50]" md-page="vm.query.page" md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}" md-total="{{vm.categorias.length}}"></md-table-pagination>

</div>
