<div class="container">
    <h3>CREAR SERVICIO</h3>
    <div class="form-group col-sm-5">
        <div layout="column" ng-cloak>
            <md-content layout-padding>
                <form name="usuariosCreate">
                    <md-input-container class="md-block">
                        <label>Nombres</label>
                        <input md-maxlength="30" required md-no-asterisk name="nombres" ng-model="vm.usuario.nombres">
                        <div ng-messages="usuariosCreate.nombres.$error">
                            <div ng-message="required">Este campo es requerido.</div>
                            <div ng-message="md-maxlength">El nombre no puede superar 30 caracteres.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Apellidos</label>
                        <input md-maxlength="30" required name="apellidos" ng-model="vm.usuario.apellidos">
                        <div ng-messages="usuariosCreate.apellidos.$error">
                            <div ng-message="required">Este campo es requerido.</div>
                            <div ng-message="md-maxlength">El nombre no puede superar 30 caracteres.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input required type="email" name="email" ng-model="vm.usuario.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"
                        />
                        <div ng-messages="usuariosCreate.email.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                Su email debe contener en 10 y 100 caracteres ej: example@example.com
                            </div>
                        </div>
                    </md-input-container>

                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>

                            <md-button class="md-raised md-primary">Guardar</md-button>

                            <md-button ng-href="#/usuarios" class="md-raised md-warn">Cancelar</md-button>

                        </section>

                </form>
            </md-content>
        </div>

    </div>
</div>
