<div role="main" class="container">
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </div>
                <input type="text" class="form-control" placeholder="Buscar Servicios" ng-model="vm.search"/>
            </div>
        </div>
    </form>
    <div ng-repeat="servicio in vm.serviciosList | filter: vm.search">
        <div class="row">
            <h2>{{servicio.nombre}}
                <span class="text-muted">
                    {{servicio.idCategoria.nombre}}</span>
            </h2>
            <p class="lead">
                {{servicio.descripcion}}
            </p>
        </div>
    </div>
</div>
