<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <p>Maria Angel - Mangeltech 2.016</p>
            </div>
            <div class="col-xs-6">
                <ul class="list-inline text-right">
                    <li><a href="#">Inicio</li>
                    <li><a href="#">Usuarios</li>
                   
                </ul>
            </div>
        </div>
         
    </div>
   
</footer>