<div class="container">
    <div class="page-header">
        <form class="form-inline">
            <div>
                <a href="#/usuarios/create" class="btn btn-primary">CREAR USUARIO</a>
            </div>
            <br>
            <div class="form-group">
                <label>Buscar</label>
                <input type="text" ng-model="vm.busqueda" class="form-control" placeholder="Buscar">
            </div>
        </form>
    </div>

    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <span>Usuarios</span>
        </div>
    </md-toolbar>

    <!-- exact table from live demo -->
    <md-table-container>
        <table md-table>
            <thead md-head>
                <tr md-row>
                    <th md-column>Id</th>
                    <th md-column>Nombres</th>
                    <th md-column>Apellidos</th>
                    <th md-column>Teléfono</th>
                    <th md-column>Dirección</th>
                    <th md-column>Ciudad</th>
                    <th md-column>Departamento</th>
                    <th md-column>Email</th>
                    <th md-column>Fecha Nácimiento</th>
                    <th md-column>Sexo</th>
                    <th md-column>Vendedor</th>
                    <th></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-repeat="usuario in vm.usuarios | limitTo: vm.query.limit: (vm.query.page - 1) * vm.query.limit">
                    <td md-cell>{{usuario.idUsuario}}</td>
                    <td md-cell>{{usuario.nombres}}</td>
                    <td md-cell>{{usuario.apellidos}}</td>
                    <td md-cell>{{usuario.telefono}}</td>
                    <td md-cell>{{usuario.direccion}}</td>
                    <td md-cell>{{usuario.ciudades.nombreCiudad}}</td>
                    <td md-cell>{{usuario.ciudades.departamentos.nombreDepartamento}}</td>
                    <td md-cell>{{usuario.email}}</td>
                    <td md-cell>{{usuario.fechaNac | date: 'dd/MM/yyyy'}}</td>
                    <td md-cell>{{usuario.sexo}}</td>
                    <td md-cell>{{usuario.usuarioVendedor}}</td>

                    <td md-cell>
                        <a href="#/usuarios/update/{{usuario.idUsuario}}">Editar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 20, 50]" md-page="vm.query.page" md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}" md-total="{{vm.usuarios.length}}"></md-table-pagination>

</div>
