<div class="container" ng-controller="LoginController as loginCtrl">
    <h3>VER PERFIL</h3>
    <div class="form-group col-sm-5">
        <div layout="column" ng-cloak>
            <md-content layout-padding>
                <form name="usuariosCreate">
                    <md-input-container class="md-block">
                        <label>Nombres</label>
                        <input disabled ng-model="vm.usuario.nombres">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Apellidos</label>
                        <input disabled ng-model="vm.usuario.apellidos">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Teléfono</label>
                        <input disabled ng-model="vm.usuario.telefono">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Dirección</label>
                        <input disabled ng-model="vm.usuario.direccion">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Ciudad</label>
                        <input disabled ng-model="vm.usuario.ciudades.nombreCiudad">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input disabled ng-model="vm.usuario.email">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Sexo</label>
                        <input disabled ng-model="vm.usuario.sexo">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Fecha Nacimiento</label>
                        <input type="date" disabled ng-model="vm.usuario.fechaNac" ></input>
                    </md-input-container>
                    <div>
                        <label>
                            Foto
                        </label>
                    </div>
                    <img ng-if="vm.usuario.foto" ng-src="{{'data:image/png;base64,' + vm.usuario.foto}}" height="300px"/>

                </form>
            </md-content>
        </div>

    </div>
</div>
